<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="grain.dao.mapper.BoardMapper">

    <!-- 该mapper使用二级缓存 -->
    <cache></cache>
    
    <!-- 根据用户id查询用户信息
    编写statement
    parameterType：指定传入数据参数的类型
    resultType：映射生成的java对象类型，select查询结果集的列名要和resultType指定java对象的属性名保持一致才可以映射
    #{}:表示占位符,如果要传递简单类型数据，#{}可以写任意名称
     -->
     
     <!-- 
         SELECT student.student_name,student.head_logo,task_name,task.task_logo,taskresult.*,praise.praise_status 
         FROM task,student,taskresult LEFT JOIN praise  
         ON taskresult.task_result_id=praise.task_result_id AND praise.person_id=#{t_id}
         WHERE teacher_id=#{t_id} AND task.task_id=taskresult.task_id
         AND student.student_id=taskresult.student_id 
         AND #{last_time}>publish_time AND taskresult.status=1
         ORDER BY publish_time DESC LIMIT 5 
     -->
     <select id="findResultForTch" resultType="taskResult">
         SELECT taskboard.*,praise_status 
         FROM contact,taskboard LEFT JOIN praise  
         ON taskboard.task_result_id=praise.task_result_id AND praise.person_id=#{t_id}
         WHERE taskboard.teacher_id=#{t_id} 
         AND contact.teacher_id=taskboard.teacher_id AND contact.student_id=taskboard.student_id AND contact.`status`=1
         AND #{last_time}>publish_time 
         ORDER BY publish_time DESC
         LIMIT 5
     </select>
     
     <select id="findNewResultForTch" resultType="taskResult">
        SELECT taskresult.* 
        FROM task,taskresult,contact 
        WHERE task.teacher_id=#{t_id} AND task.task_id=taskresult.task_id
        AND contact.teacher_id=task.teacher_id AND contact.student_id=taskresult.student_id AND contact.`status`=1
        AND publish_time>#{last_time} AND taskresult.status=1
        ORDER BY publish_time DESC
        LIMIT 1
     </select>
     
     <!-- 
     	SELECT student.student_name,student.head_logo,task_name,task.task_logo,taskresult.*,praise.praise_status 
        FROM contact,student,task,taskresult LEFT JOIN praise
        ON taskresult.task_result_id=praise.task_result_id AND praise.person_id=#{s_id}
        WHERE contact.student_id=#{s_id} AND contact.status=1 AND contact.teacher_id=task.teacher_id 
        AND task.task_id=taskresult.task_id AND taskresult.student_id=student.student_id 
        AND #{last_time}>publish_time AND taskresult.status=1 
        AND (access_permission=1 OR taskresult.student_id=#{s_id})
        ORDER BY publish_time DESC LIMIT 5
      -->
     <!-- <select id="findResultForStu" resultType="taskResult">
        SELECT taskboard.*,praise_status FROM contact,taskboard LEFT JOIN praise  
        ON taskboard.task_result_id=praise.task_result_id AND praise.person_id=#{s_id}
        WHERE contact.student_id=#{s_id}
        AND contact.teacher_id=taskboard.teacher_id 
        AND ((contact.`status`=1 AND access_permission=1) OR taskboard.student_id=#{s_id} )
        AND #{last_time}>publish_time LIMIT 5
     </select>
     
     <select id="findNewResultForStu" resultType="taskResult">
         SELECT taskresult.* 
         FROM contact,student,task,taskresult
		 WHERE contact.student_id=#{s_id} AND contact.status=1 AND contact.teacher_id=task.teacher_id 
		 AND task.task_id=taskresult.task_id AND taskresult.student_id=student.student_id 
		 AND publish_time>#{last_time} AND taskresult.status=1 
		 AND (access_permission=1 OR taskresult.student_id=#{s_id})
		 ORDER BY publish_time DESC
		 LIMIT 1
     </select> -->
     
     <select id="findResultForStu" resultType="taskResult">
         SELECT DISTINCT taskboard.*,praise_status FROM taskstudent,taskboard LEFT JOIN praise  
         ON taskboard.task_result_id = praise.task_result_id AND praise.person_id = #{s_id}
         WHERE taskstudent.student_id = #{s_id} AND ((taskstudent.task_id = taskboard.task_id
         AND access_permission=1) OR taskboard.student_id=#{s_id})
         AND #{last_time}>publish_time 
         ORDER BY publish_time DESC 
         LIMIT 5
     </select>
     
     <select id="findNewResultForStu" resultType="taskResult">
         SELECT DISTINCT taskresult.* FROM taskstudent,student,taskresult
         WHERE taskstudent.student_id = #{s_id} AND taskresult.status=1 
         AND ((taskstudent.task_id = taskresult.task_id AND taskresult.student_id=student.student_id 
         AND access_permission=1) OR taskresult.student_id=#{s_id})
         AND publish_time>#{last_time} 
         ORDER BY publish_time DESC
         LIMIT 1
     </select>
     
     <update id="updateResultStatus" parameterType="String">
         UPDATE taskresult SET `status`=1,publish_time=now() WHERE task_result_id=#{value}
     </update>
     
     <update id="updateResultPraise" parameterType="praise">
         UPDATE taskresult SET 
         <if test="praise_status==1">
             praise_count=praise_count+1
         </if>
         <if test="praise_status==0">
             praise_count=praise_count-1
         </if>
         WHERE task_result_id=#{task_result_id}
     </update>
     
     <update id="updateResultTchScore" parameterType="taskResult">
         UPDATE taskresult SET 
         tch_score=#{tch_score} 
         WHERE task_result_id=#{task_result_id}
     </update>
     
     <update id="updateResultTchComment" parameterType="taskResult">
         UPDATE taskresult SET 
         tch_comment=#{tch_comment} 
         WHERE task_result_id=#{task_result_id}
     </update>
</mapper>

